.box-with-list {
    @extend %listreset;
    padding-right: 60px;

    li {
        padding-bottom: 15px;
    }

    @include link-with-hover;
         
    a.navigation-link {
       font-weight: var(--font-weight-footer-navigation-heading);
    }
}
