.box-with-list {
    @extend %listreset;
    padding-right: 38px;

    li {
        padding-bottom: 12px;
    }

    @include link-with-hover;
         
    a.navigation-link {
       font-weight: var(--font-weight-footer-navigation-heading);
    }
}
