.content {
    margin: 60px 0 87px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .quotes-slider {
        width: 310px;
    }

    .wysiwyg {
        flex: 1;
    }
}
