.content{
    padding: 60px 0 87px;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .sidebar {
        width: 255px;
        padding-right: 45px;
        border-right: 1px solid var(--color-light-gray);
    
        .quotes-slider {
            position: relative;
            overflow: hidden;
            top: -20px;
        }
    }
    
    .content-section {
        padding-left: 60px;
        flex: 1;
    }
}
