.footer {
    color: var(--color-white);
    font-weight: var(--font-weight-footer-contact);
    font-size: var(--font-size-footer-contact);
    line-height: 1;
    background-color: var(--color-coral);
    padding-bottom: 224px;

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
}
