.holder-quotes {
    padding: 0 45px 0;
    color: var(--color-orange);
    font: var(--font-style-of-quotes) var(--font-weight-of-quotes) var(--font-size-of-quotes) var(--font-headings);

    &:before,
    &:after {
        position: absolute;
        font-size: 50px;
    }
    
    &:before {
        content: '\201c';
        top: -11px;
    }

    &:after {
        content: '\201d';
        top: 86%;
        left: 59%;
    }

    p {
        margin-top: 20px;
    }

}
