.holder {
    padding: 0 45px 0;
    color: var(--color-orange);
    font: var(--font-style-of-quotes) var(--font-weight-of-quotes) var(--font-size-of-quotes) var(--font-headings);

    &:before {
        content: '\201c';
        position: absolute;
        top: -11px;
        font-size: 50px;
    }

    &:after {
        content: '\201d';
        position: absolute;
        top: 86%;
        left: 59%;
        font-size: 50px;
    }

    P {
        margin-top: 20px;
    }

}
