.nav-list {
    @extend %listreset;
    display: flex;
    font: var(--weight-navigation) var(--size-navigation) var(--font-headings);

    @media (max-width: 480px) {
        flex-direction: column;
        justify-content: center;

    }
    
    li {
        margin-left: 75px;

        @media (max-width: 480px) {
            margin-left: 0;
            margin-bottom: 12px;
        }
        
        &:first-child {
            margin-left: 0;
        }

        &:nth-child(4) {
            margin-left: 68px;

            @media (max-width: 480px) {
                margin-left: 0;
            }
        }

        &:last-child {
            margin-left: 55px;

            @media (max-width: 480px) {
                margin-left: 0;
            }
        }
    }

    a {
        color: var(--color-white);

        &:hover,
        &:active {
            opacity: 0.5;
        }
    }

    & .nav-list {
        display: none;
        position: absolute;
        top: 15px;
        left: 0;
        right: auto;
        padding-top: 25px;
        min-width: 130px;
        z-index: 90;
        border-radius: 3px;

        li {
            margin-left: 15px;
            margin-bottom: 12px;
        }
    }
}
