.number-phone {
    @extend %listreset;
    color: var(--color-white);
    font-weight: var(--font-weight-footer-contact);
    font-size: var(--font-size-footer-contact);
    line-height: 1;

    li:not(:last-child) {
        margin-bottom: 2px;
    }

    @include a;
}
