:root {
  --swiper-navigation-size: 6px;
}
.swiper-button-prev {
  left: 72.2%;
  background-color: #fe992a;
}

.swiper-button-next {
  right: 14px;
  background-color: #fe992a;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: auto;
  width: 30px;
  height: 30px;
  margin-top: 39px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  &.swiper-button-disabled {
    opacity: 0.65;
  }

  &:hover {
    opacity: 0.8;
  }
}
