:root {
  --swiper-navigation-size: 6px;
}
.swiper-button-prev {
  left: 76.2%;
  background-color: #fe992a;
}

.swiper-button-next {
  right: 0;
  background-color: #fe992a;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: auto;
  width: 25px;
  height: 25px;
  margin-top: 40px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  &:hover {
    opacity: 0.8;
  }
}
