.website-address {
    @extend %listreset;
    padding-top: 39px;

    li {
        font-weight: var(--font-weight-footer-dashboard-heading);
        margin-bottom: 13px;
        letter-spacing: 0.3px;
    }

    @include link-with-hover;
}
