.wysiwyg {

    h3 {
        color: var(--color-orange);
        font: var(--font-weight-of-wysiwyg-heading) var(--font-size-of-wysiwyg-heading) var(--font-body);
        margin-bottom: 28px;
    }

    p {
        color: var(--color-light);
        font: var(--font-weight-of-wysiwyg) var(--font-size-of-wysiwyg) var(--font-body);
    }
}
