<script src="@@webRoot/js/@@vendorJs" defer></script>
<script src="@@webRoot/js/@@mainJs" defer></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiperBanner", {
        autoplay: {
          delay: 3000,
        },
    });

    var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
    });
</script>
