.btn {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    line-height: 1;

    &-hamburger {
        display: none;
        float: right;
        position: relative;
        padding: 17px;
        background-color: transparent;
        z-index: 101;

        &:hover,
        &:active,
        &.is-opened {
            background-color: transparent;

        }

        @media (max-width: 480px) {
            display: block;
        }
    } 
}
