<section class="banner">
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <img src="../../images/img-banner.png" alt="">
          <div class="container">
            <div class="holder">
              <h1>
                I want to feel what you wanted.
              </h1>
              <p>
                Trent from punchy pint when lets get some snag. Get a dog up ya moolah piece of piss trent from punchy slaps. Shazza got us some chuck a sickie heaps he hasn't got a kindie. As stands out like bush telly with as stands out like porky. She'll be right pretty spiffy trent from punchy cab sav.
              </p>
            </div> <!-- /.holder -->
          </div> <!--/.container-->
      </div>
      <div class="swiper-slide">
          <img src="../../images/img-green.png" alt="">
          <div class="container">
            <div class="holder">
              <h1>
                I want to feel what you wanted.
              </h1>
              <p>
                Trent from punchy pint when lets get some snag. Get a dog up ya moolah piece of piss trent from punchy slaps. Shazza got us some chuck a sickie heaps he hasn't got a kindie. As stands out like bush telly with as stands out like porky. She'll be right pretty spiffy trent from punchy cab sav.
              </p>
            </div> <!-- /.holder -->
          </div> <!--/.container-->
      </div>
      <div class="swiper-slide">
          <img src="../../images/img-tree.png" alt="">
          <div class="container">
            <div class="holder">
              <h1>
                I want to feel what you wanted.
              </h1>
              <p>
                Trent from punchy pint when lets get some snag. Get a dog up ya moolah piece of piss trent from punchy slaps. Shazza got us some chuck a sickie heaps he hasn't got a kindie. As stands out like bush telly with as stands out like porky. She'll be right pretty spiffy trent from punchy cab sav.
              </p>
            </div> <!-- /.holder -->
          </div> <!--/.container-->
      </div>
    </div>
  </div>
</section> <!-- /.banner -->