<nav class="contact">
    <ul class="number-phone">
        <li>
            <a href="tel:+64 9555 555">P +64 9555 555</a>
        </li>
        <li>
            <a href="tel:+64 9555 555">F +64 9555 555</a>
        </li>
        <li>
            <a href="mailto:info@email.com">E info@email.com</a>
        </li>
    </ul>
    <ul class="website-address">
        <li>Address</li>
        <li>
            <a href="#"
               target="_blank">http://www.lipsum.com/feed/html</a>
        </li>
    </ul>
</nav><!-- .contact -->
