<ul class="nav-list">
    <li class="nav-item nav-item-has-children">
        <a href="#">
            <span>Commercial</span>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#">
                    <span>Commercial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Industrial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Resourses</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Crops</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-item-has-children">
        <a href="#">
            <span>Industrial</span>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#">
                    <span>Commercial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Industrial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Resourses</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Crops</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-item-has-children">
        <a href="#">
            <span>Infrastructure</span>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#">
                    <span>Commercial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Industrial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Resourses</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Crops</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#">
            <span>Resources</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#">
            <span>Utilities</span>
        </a>
    </li>
</ul>