<section class="quotes-slider">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner-container">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor. 
                        </p>
                    </div> <!-- /.inner-container -->
                </div>
            </div>
        </div>
    </div>
    </section> <!-- /.quotes-slider-->