<section class="quotes-slider">
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="holder-quotes">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor.
                </p>
            </div> <!-- /.inner-container -->
        </div> <!-- /.swiper-slider -->
        <div class="swiper-slide">
            <div class="holder-quotes">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor. 
                </p>
            </div> <!-- /.inner-container -->
        </div> <!-- /.swiper-slider -->
        <div class="swiper-slide">
            <div class="holder-quotes">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor. 
                </p>
            </div> <!-- /.inner-container -->
        </div> <!-- /.swiper-slider -->
    </div> <!-- /.swiper-wrapper -->
</div> <!-- /.swiper-container -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</section> <!-- /.quotes-slider-->