<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/banner.png" alt="">
          </picture>
          <div class="container">
              @@include('../partials/components/holder.html')
          </div> <!--/.container-->
      </div>
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/green.png" alt="">
          </picture>
          <div class="container">
              @@include('../partials/components/holder.html')
          </div> <!--/.container-->
      </div>
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/tree.png" alt="">
          </picture>
          <div class="container">
              @@include('../partials/components/holder.html')
          </div> <!--/.container-->
      </div>
    </div>
</div>