<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/img-banner.png" alt="">
          </picture>
      </div>
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/img-green.png" alt="">
          </picture>
      </div>
      <div class="swiper-slide">
          <picture>
                <source media="(max-width: 480px)">
                <img src="/images/img-tree.png" alt="">
          </picture>
      </div>
    </div>
</div>